body{
    font-family: sans-serif;
}
.top-pagina{
    text-align: center;
    background-color: lightslategray;
    padding: 1em;
    font-size: 2em;
}
.navegacao-pagina{
    text-align: center;
    background-color: lightgray;
    padding: 1em;
}
.navegacao-pagina li{
    display: inline;
}
.Content{
    padding: 20em;
    text-align: center;
    background-color: lightskyblue;
    margin: auto;
}
.rodape-pagina{
    text-align: center;
    background-color: lightslategray;
    padding: 2em;
    display: block;
}